.articles {
    height: 848px;
    background-color: #CCCCCC;
    padding: 120px 0 0 0;
}

.articles__title {
    text-align: center;
    margin-top: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}
.articles__subheader {
    text-align: center;
    font-family: 'Open Sans';
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 120px;
    color: #666666;
}