footer {
    height: 360px;
    background: url('../../images/background/footer.png') center center/cover no-repeat;
    padding-top: 129px;
}

.nav_footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.nav_footer ul {
    margin: 0;
    margin-top: 21px;
    margin-left: 16px;
}


.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_wrapper .logo img {
    margin-top: 5px;
}
.socail__links {
    display: flex;
    margin-top: 6px;
    list-style-type: none;
    padding-left: 0;
}
.social__item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background: #F7F7F7;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
.socail__links li {
    cursor: pointer;
    margin-right: 27px;
}
li:last-child {
    margin-right: 0;
}
.footer__logo_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-top: 6px;
}